<%= partial :project_form %>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Source</th>
      <th>URL</th>
      <th>Latest Release</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <%= erb :_project_row, layout: false, locals: { project: project } %>
    <% end %>
  </tbody>
</table>